*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.circle__wrapper{
    background-color: #202020;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    animation: background-change 2s ease-in-out forwards infinite alternate;
}

.circle__wrapper *{
    align-self: center;
    width: 15em;
    height: 15em;
    box-shadow: 1px 1px 5px #fff;
    background-color: greenyellow;
    border-radius: 50%;

}

.circle__one{
    animation: left-to-right 2s ease-in-out forwards infinite alternate;
    grid-row: 1/2;
    justify-self: end;
    
}

.circle__two{
    animation: left-to-right 2s ease-in-out forwards infinite alternate-reverse;
    grid-row: 2/3;
    justify-self: center;
}
.circle__three{
    animation: left-to-right 2s ease-in-out forwards infinite alternate;
    grid-row: 3/4;
    justify-self: start;
}

@keyframes background-change {
    100%{
        background-color: black;
    }
}

@keyframes left-to-right {
    0%{
        transform: scale(1) translateX(790%);
        background-color: fuchsia;
    
    }

    50%{
        transform: scale(1);
        background-color: yellow;
    }
    100%{
        transform: scale(0);
        background-color: greenyellow;
    }

}